---
layout: layouts/base.njk
permalink: /bio/
---

<h2>ABOUT THE ARTIST</h2>

<p>Hey! I'm Minerva, better known as "zoda" or "zoda coo" online. My pronouns are she/her.</p>
<p>
I'm an illustrator, 3D modeler and sculptor, independent game developer, and former tattoo artist. I also stream sometimes. 
<br>
I make work about monstrous bodies, strong machines, alien spaces, and funny little guys.
<br>
Here's a curated selection of pieces & projects of mine, from 2016 to today.
</p>
<p>Thanks for stopping by!</p>

<h2>OTHER RELEVANT WEBSITES</h3>
<div class="gallery">

<div class="galleryitem">
<h3>TWITTER</h3>
<p><a href="https://twitter.com/zodacle">@zodacle</a><br>where I post art and dumb jokes</p>
</div>

<div class="galleryitem">
<h3>TWITCH</h3>
<p><a href="https://twitch.tv/zodacoo">@zodacoo</a><br>where I stream myself drawing or playing games</p>
</div>

<div class="galleryitem">
<h3>KO-FI</h3>
<p><a href="https://ko-fi.com/zodacoo">@zodacoo</a><br>where you can send me money to help me stay alive</p>
</div>

<div class="galleryitem">
<h3>PICARTO</h3>
<p><a href="https://picarto.tv/zodacoo">@zodacoo</a><br>where I stream myself drawing when I don't want to worry about copyright laws</p>
</div>

<div class="galleryitem">
<h3>INSTAGRAM</h3>
<p><a href="https://instagram.com/zodacoo">@zodacoo</a><br>where I need to post art more frequently</p>
</div>

</div>


