---
layout: layouts/base.njk
permalink: /projects/
---
<div class="gallery">
<div class="galleryitem">
<h2>gameA</h2>
A test project that doesn't actually exist. Listed here for the purpose of testing. Gogkgguuguguukkgukgukkogooog. PEPEPEPPEP EPEP EPPPPPP
<a href="/tags/gameA">view</a>
</div>

<div class="galleryitem">
<h2>gameB</h2>
A test project that doesn't actually exist. Listed here for the purpose of testing. Gogkgguuguguukkgukgukkogooog. PEPEPEPPEP EPEP EPPPPPP
<a href="/tags/gameB">view</a>
</div>

<div class="galleryitem">
<h2>gameB</h2>
A test project that doesn't actually exist. Listed here for the purpose of testing. Gogkgguuguguukkgukgukkogooog. PEPEPEPPEP EPEP EPPPPPP
<a href="/tags/gameB">view</a>
</div>
</div>