body {
  background: #efefef;
  background: url("/images/uploads/SHAKUDOGUBG_NIGHT.png");
  /* Dimensions of dogu bg are 577x576*/

  background-color: #161422;

  font-family: "Inconsolata", monospace;
  font-weight: bold;
  color: white;
  /* text-shadow: 1px 1px white, -1px -1px white; */
}

.thumb {
  height: 75px;
}
.post img {
  margin: auto;
  display: block;
  max-width: 100%;
}

.animateBg {
  animation: bgAnimation 30s linear infinite;
}

@keyframes bgAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -577 576;
  }
}

.body-container {
  background: rgba(9, 5, 41, 0.623);
  backdrop-filter: blur(10px);
  padding: 1em;
}

h1 { text-align: center;}

h2 { text-align: center;}

h3 { text-align: center;}

p { text-align: center;}

nav {
  text-align: center;
}

a {
  padding: 1em;
  color: rgb(255, 112, 77);
}
/* nav a:before
{
  content: "goku";
} */
a:visited {
  color: rgb(158, 88, 67);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}

.gallery .gallery__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
