<html>
  <head>
    <title>Zodar</title>
      <link rel="stylesheet" href="/assets/style.css" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap" rel="stylesheet"> 
      <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>

  <body class="animateBg">
    <div class="body-container">
      <h1>
        ZODA COO
      </h1>
      {% include './nav.njk' %}
      {{ content | safe }}
    </div>

    <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
  </body>

</html>