<html>
  <head>
    <title>Eleventy + Netlify CMS from scratch</title>
      <link rel="stylesheet" href="/assets/style.css" />
  </head>

  <body>
    <h1>
      Eleventy + Netlify CMS from scratch
    </h1>
    {{ content | safe }}
  </body>

</html>