---
layout: layouts/base.njk
---
<div class="post">
<h2>{{ title }}</h2>
<h3>{{ date | readableDate }}</h3>
<img src="{{ featuredImage }}" alt="{{ featuredImage }}"></img>
<p>{{ content | safe }}</p>
</div>