{# <ul>
  {% for post in postslist %}
    <li>
      <strong>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </strong>
        <img class="thumb" src="{{ post.data.featuredImage }}" alt="{{ post.data.featuredImage }}"></img>
      -
      <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      -
      <span>{{ post.data.description }}</span>
    </li>
  {% endfor %}
</ul> #}

<div class="gallery">
  {% for post in postslist %}

        <a href="{{ post.url | url }}"><img class="thumb" src="{{ post.data.featuredImage }}" alt="{{ post.data.featuredImage }}"></img></a>
   
  {% endfor %}
</div>

<ul>
  {% for post in projectslist %}
    <li>
      <strong>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </strong>
        <img class="thumb" src="{{ post.data.featuredImage }}" alt="{{ post.data.featuredImage }}"></img>
      -
      <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      -
      <span>{{ post.data.description }}</span>
    </li>
  {% endfor %}
</ul>